<div class="container-fluid" style="padding-top:15px">
	<div class="panel panel-default">
		<div class="panel panel-heading" style="height:50px">{{$ctrl.name}}
			<button class="btn btn-success pull-right" ng-click="$ctrl.addRecord()" title="Add Contact"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
		<div class="panel-body">
			<div ng-repeat="student in $ctrl.students">
				<div class="panel panel-default">
					<div class="panel panel-heading" style="height:50px">
						<a href="" ng-click="$ctrl.edit(student.id)">{{ student.name }} GPA: {{student.gpa}}</a>
            <!-- <span class="glyphicon glyphicon-star"></span> -->
						<button class="btn btn-danger pull-right" title="Delete Contact" ng-click="$ctrl.delete(student.id)""><span class="glyphicon glyphicon-remove"><span></button>&nbsp;
            
					</div>
					<div class="panel-body">
						<table class="table">
							<tr ng-repeat="class in student.classes">
								<td width="90%">{{class.name}}</td>
								<td>{{class.grade}}</td>
							</tr>
						</table>
            <!--  <span class="pull-right">GPA:    </span> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade in" aria-hidden="false" style="display: block;" ng-show="$ctrl.showModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">{{$ctrl.modalTitle}}</h5>
				<button type="button" class="close" ng-click="$ctrl.closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control"  placeholder="Full name"  id="name"  name="name" ng-model="$ctrl.contact.name"/ >
</div>
						<div class="form-group">
							<label for="history">History:</label>
							<input type="text" class="form-control"  placeholder="Grade"  id="history"  name="history" ng-model="$ctrl.contact.classes[0].grade"/ >
</div>
							<div class="form-group">
								<label for="math">Math:</label>
								<input type="text" class="form-control"  placeholder="Grade"  id="math"  name="math" ng-model="$ctrl.contact.classes[1].grade"/ >
</div>
								<div class="form-group">
									<label for="english">English:</label>
									<input type="text" class="form-control"  placeholder="Grade"  id="english"  name="english" ng-model="$ctrl.contact.classes[2].grade"/ >
									<div class="form-group">
										<label for="biology">Biology:</label>
										<input type="text" class="form-control"  placeholder="Grade"  id="biology"  name="biology" ng-model="$ctrl.contact.classes[3].grade"/ >
</div>
										<input type="hidden" ng-model="ctrl.contact.id" />
  </form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary pull-right" ng-click="$ctrl.closeModal()">Close</button>
										<button type="button" ss="btn btn-success pull-right" value="Save" ng-click="$ctrl.saveContact()" class="btn btn-primary pull-right">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span> -->